name: Build
on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Github Container Registry
        run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin 

      - name: Build Docker Image
        run: docker build -t ghcr.io/sharknoon/pixina-backend .
        
      - name: Push Image to Registry
        run: docker push ghcr.io/sharknoon/pixina-backend

  clean:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Delete old image versions
        uses: actions/delete-package-versions@v5
        with:
          package-type: 'container'
          package-name: 'pixina-backend'
          min-versions-to-keep: 1
